<StackLayout class="detail-action">
    <StackLayout class="action-bar detail-action-bar">
        <FlexboxLayout justifyContent="space-between" alignItems="center">
            <Button class="btn icon" (tap)="onClose()" text="&#xed6d;"></Button>

            <StackLayout class="action-bar-title">
                <Label [text]="'categories.' + transactionData.category | translate"></Label>
            </StackLayout>

            <Button class="btn icon" (tap)="onShare()" text="&#xeec8;"></Button>
        </FlexboxLayout>
    </StackLayout>

    <ScrollView class="page page-content detail-modal-content" height="auto">
        <GridLayout rows="auto, auto, auto">
            <GridLayout row="0" height="200" rows="24, auto, *">
                <StackLayout row="1" rowSpan="2" class="detail-modal-info">
                    <Label [text]="amount" class="amount"></Label>

                    <Label [text]="'categories.' + transactionData.category | translate"
                        [class]="'category ' + transactionData.category"></Label>

                    <StackLayout orientation="horizontal" [class]="'status ' + transactionData.status">
                        <Label *ngIf="transactionData.status === 'completed'"
                            text="&#xee76;" class="icon"></Label>
                        <Label *ngIf="transactionData.status === 'pending'"
                            text="&#xee79;" class="icon"></Label>
                        <Label [text]="'detail.status.' + transactionData.status | translate"
                            class="p-r-10"></Label>
                    </StackLayout>

                    <Label [text]="formatDate(transactionData.date)" class="status-date"></Label>
                </StackLayout>

                <StackLayout margin="5" row="0" rowSpan="2" [class]="'detail-modal-badge ' + transactionData.category">
                    <Label [text]="categoryIcon" class="icon"></Label>
                </StackLayout>
            </GridLayout>

            <StackLayout row="1" class="detail-company">
                <Label [text]="companyData.name" class="name"></Label>
                <Label [text]="companyData.address" class="address"></Label>
            </StackLayout>

            <StackLayout row="2" class="detail-company-map">
                <WebView (loaded)="onWebViewLoaded($event)" [src]="webViewSrc"></WebView>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</StackLayout>