<ListView
    [items]="transactions"
    separatorColor="transparent"
    [itemTemplateSelector]="templateSelector"
    (itemTap)="onItemTap($event)"
    class="transactions-list"
    height="auto"
>
    <ng-template nsTemplateKey="header" let-item="item">
        <Label class="transactions-list-header" [text]="getHeaderText(item.date)"
            textWrap="true"></Label>
    </ng-template>

    <ng-template nsTemplateKey="transaction" let-item="item">
        <GridLayout columns="auto, *, auto" class="transactions-list-item">
            <StackLayout col="0" class="mr-10" height="36" width="36" [class]="'badge ' + item.category">
                <Label [text]="getBadgeIcon(item.category)" class="icon"></Label>
            </StackLayout>

            <StackLayout col="1" verticalAlignment="center">
                <Label [text]="getCompany(item.companyId).name" class="title"></Label>
                <Label [text]="'categories.' + item.category | translate"
                    class="category"></Label>
            </StackLayout>

            <Label col="2" horizontal="right" class="amount">
                <FormattedString>
                    <Span [text]="item.amount < 0 ? '- $' : '$'" [class]="'quantity ' + (item.amount < 0 ? 'red' : 'green')"></Span>
                    <Span [text]="mathAbs(item.amount)" [class]="'quantity ' + (item.amount < 0 ? 'red' : 'green')"></Span>
                    <Span text=" &#xedbd;" class="icon"></Span>
                </FormattedString>
            </Label>
        </GridLayout>
    </ng-template>
</ListView>