<GridLayout rows="*" columns="*" class="container">
    <FlexboxLayout flexDirection="column" alignItems="center" justifyContent="space-between" class="container-content">
        <Label text="Test left menu" textWrap="true"></Label>
        <Label text="Test left menu" textWrap="true"></Label>
        <Label text="Test left menu" textWrap="true"></Label>

        <Label verticalAlignment="bottom" text="Close" (tap)="closeDrawer()" class="item-text" textWrap="true"></Label>

    </FlexboxLayout>
</GridLayout>