/* Add mobile styles for the component here.  */
$background-color: #f2f2f2;

.container {
    background-color: $background-color;
   
}
.container-content {
    margin: 20;
    background-color: $background-color;
}
.item-text {
    font-size: 13;
    color: #9C27B0;
}