<ActionBar class="action-bar">
    <StackLayout class="action-bar-title">
        <Label text="{{ 'cards.title' | translate }}"></Label>
    </StackLayout>
</ActionBar>

<GridLayout class="page page-content cards-page-content" rows="200, *">
    <StackLayout row="0">
        <oj-cards-slide></oj-cards-slide>
    </StackLayout>

    <StackLayout row="1">
        <oj-transactions-list [transactions]="transactions"></oj-transactions-list>
    </StackLayout>
</GridLayout>