.transactions-list {
  background-color: #f1f5f8;
  margin-left: 15;
  margin-right: 15;
}

.transactions-list .transactions-list-header {
  font-size: 12;
  color: #3d4852;
  margin-bottom: 5;
}

.transactions-list .transactions-list-item {
  background-color: #ffffff;
  border-radius: 5;
  border-color: #f1f5f8;
  border-width: 1;
  padding-left: 15;
  padding-right: 15;
  padding-top: 5;
  padding-bottom: 5;
  margin-bottom: 10;
}

.transactions-list .transactions-list-item .badge {
  border-radius: 50%;
  margin-right: 10;
  vertical-align: middle;
  text-align: center;
}

.transactions-list .transactions-list-item .badge .icon {
  color: #ffffff;
}

.transactions-list .transactions-list-item .badge.home {
  background-color: #3490dc;
}

.transactions-list .transactions-list-item .badge.transport {
  background-color: #22292f;
}

.transactions-list .transactions-list-item .badge.communication {
  background-color: #3490dc;
}

.transactions-list .transactions-list-item .badge.hotel {
  background-color: #38c172;
}

.transactions-list .transactions-list-item .badge.restaurant {
  background-color: #f6993f;
}

.transactions-list .transactions-list-item .title {
  font-size: 14;
  color: #3d4852;
}

.transactions-list .transactions-list-item .category {
  font-size: 12;
  color: #b8c2cc;
}

.transactions-list .transactions-list-item .amount {
  font-size: 14;
  vertical-align: middle;
}

.transactions-list .transactions-list-item .amount .quantity.red {
  color: #e3342f;
}

.transactions-list .transactions-list-item .amount .quantity.green {
  color: #38c172;
}

.transactions-list .transactions-list-item .amount .icon {
  color: #b8c2cc;
  font-size: 12;
}
