<ActionBar class="action-bar">
    <StackLayout class="action-bar-title">
        <Label [text]="'TRANSACTIONS' | translate"></Label>
    </StackLayout>
</ActionBar>

<GridLayout class="page page-content home-page-content" rows="160, 80, *">
    <!-- Chart -->
    <StackLayout row="0" class="balance-chart">
        <oj-expenses-chart *ngIf="currentLanguage === 'en'" [data]="expensesChartDataEn"></oj-expenses-chart>
        <oj-expenses-chart *ngIf="currentLanguage === 'es'" [data]="expensesChartDataEs"></oj-expenses-chart>
    </StackLayout>

    <!-- Balance Summary -->
    <GridLayout row="1" columns="*, *, *" class="balance-summary">
        <StackLayout col="0">
            <Label [text]="'balance.income' | translate" class="title"></Label>
            <Label text="$1800" class="amount"></Label>
            <Label class="hr-light green" [style.width]="'35%'"></Label>
        </StackLayout>

        <StackLayout col="1">
            <Label [text]="'balance.expenses' | translate" class="title"></Label>
            <Label text="$800" class="amount"></Label>
            <Label class="hr-light red" [style.width]="'25%'"></Label>
        </StackLayout>

        <StackLayout col="2">
            <Label [text]="'balance.balance' | translate" class="title"></Label>
            <Label text="$1000" class="amount"></Label>
            <Label class="hr-light green" [style.width]="'15%'"></Label>
        </StackLayout>
    </GridLayout>

    <!-- Transactions -->
    <StackLayout row="2">
        <oj-transactions-list [transactions]="transactions"></oj-transactions-list>
    </StackLayout>
</GridLayout>