@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";
/* General */
@import './assets/styles/general.scss';

/* SideDrawer */
@import './assets/styles/sidedrawer.scss';

/* Bottom Navigation */
@import './assets/styles/bottom-navigation.scss';

/* Home Page */
@import './assets/styles/home.scss';

/* Transactions List */
@import './assets/styles/transactions-list.scss';

/* Detail */
@import './assets/styles/detail.scss';

/* Cards */
@import './assets/styles/cards.scss';

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

.icon {
    font-family: "OppJarIcons";
}