<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerContentSize="280">
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer">
        <StackLayout row="0" class="sidedrawer-header">
            <Image class="sidedrawer-header-image" src="~/assets/images/avatar.png"></Image>

            <Label class="sidedrawer-header-name" text="Emily Smith"></Label>

            <Label class="sidedrawer-header-balance">
                <FormattedString>
                    <Span [text]="'sidedrawer.balance' | translate" class=" label"></Span>
                    <Span [text]="' $344,45'" class="amount"></Span>
                </FormattedString>
            </Label>
        </StackLayout>

        <GridLayout row="1" rows="*, auto, 80" class="sidedrawer-body">
            <ScrollView row="0" height="auto">
                <StackLayout class="sidedrawer-menu">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item"
                        [class.selected]="isComponentSelected('/home')" (tap)="onNavItemTap('/home')">
                        <Label col="0" text="&#xe9ad;" class="icon"></Label>
                        <Label col="1" [text]="'TRANSACTIONS' | translate"
                            class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item"
                        [class.selected]="isComponentSelected('/cards')"
                        (tap)="onNavItemTap('/cards')">
                        <Label col="0" text="&#xea15;" class="icon"></Label>
                        <Label col="1" [text]="'CARDS' | translate" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>

            <GridLayout row="1" columns="10, 130, 130, 10" class="sidedrawer-language">
                <Label col="1" [text]="'sidedrawer.english' | translate"
                    [class.selected]="currentLanguage === 'en'" (tap)="changeLanguage('en')"></Label>
                <Label col="2" [text]="'sidedrawer.spanish' | translate"
                    [class.selected]="currentLanguage === 'es'" (tap)="changeLanguage('es')"></Label>
            </GridLayout>

            <StackLayout row="2" class="sidedrawer-footer">
                <Image src="~/assets/images/logo.png" class="sidedrawer-footer-logo"
                    (tap)="onTapLogo()"></Image>

                <Label class="sidedrawer-footer-logo" (tap)="onTapAuthor()">
                    <FormattedString>
                        <Span [text]="'sidedrawer.madeBy' | translate"></Span>
                        <Span text="OppJar" textDecoration="underline"></Span>
                    </FormattedString>
                </Label>

            </StackLayout>
        </GridLayout>
    </GridLayout>

    <GridLayout rows="*, auto" class="page" tkMainContent>
        <StackLayout row="0">
            <page-router-outlet></page-router-outlet>
        </StackLayout>

        <!-- <oj-bottom-navigation row="1"></oj-bottom-navigation> -->
    </GridLayout>
</RadSideDrawer>