<StackLayout class="expenses-chart">
    <Label text="Expenses"></Label>

    <RadPieChart height="130" allowAnimation="true" row="1">
        <DonutSeries tkPieSeries seriesName="donut" selectionMode="None"
            expandRadius="0.4" outerRadiusFactor="0.7" innerRadiusFactor="0.8"
            [items]="data" valueProperty="amount" legendLabel="name"></DonutSeries>

        <RadLegendView tkPieLegend position="Right" enableSelection="false"></RadLegendView>

        <Palette tkPiePalette seriesName="donut">
            <PaletteEntry tkPiePaletteEntry fillColor="#e3342f" strokeColor="#e3342f"></PaletteEntry>
            <PaletteEntry tkPiePaletteEntry fillColor="#3490dc" strokeColor="#3490dc"></PaletteEntry>
            <PaletteEntry tkPiePaletteEntry fillColor="#38c172" strokeColor="#38c172"></PaletteEntry>
            <PaletteEntry tkPiePaletteEntry fillColor="#f6993f" strokeColor="#f6993f"></PaletteEntry>
        </Palette>
    </RadPieChart>
</StackLayout>