<GridLayout rows="auto" columns="*" class="container">
    <GridLayout rows="auto, auto, auto" columns="auto,*" class="container-content">
        <Image [width]="screenWidth/2" src="~/assets/atalanta.jpg"></Image>
        <Label col="1" verticalAlignment="top" text="This is a title of post example like aka no archer......." class="title" textWrap="true"></Label>
        <Label row="1" colSpan="2" text="Content short to display .. as fate apocrypha atalanta hillers ......" class="content-short"
            textWrap="true"></Label>
        <GridLayout row="2" colSpan="2" rows="auto,10, auto" columns="*,*" marginTop="10">
            <Label rowSpan="3" col="0" text="20h53 20/10/2018" class="time-of-post" verticalAlignment="center" textWrap="true"></Label>
            <Label row="0" col="1" text="Genk" horizontalAlignment="right" textWrap="true" class="source-name"></Label>
            <Label row="2" col="1" text="Dat Tran" textWrap="true" horizontalAlignment="right" class="source-poster"></Label>
        </GridLayout>
    </GridLayout>
</GridLayout>