/* Add mobile styles for the component here.  */
$black: #000000;
$white: #ffffff;
$purple: #B266FF;

.container {
    margin: 10;
    border-width: 1;
    border-color: $purple;
}
.container-content {
    margin: 10;
}
.image-content {
    border-width: 1;
    border-color: $white;
}

.time-of-post {
    font-size: 12;
    color: $black;
}

.source-name {
    font-size: 12;
    font-weight: bold;
    font-style: italic;
    color: $black;
}

.source-poster {
    font-size: 12;
    color: $purple;
    font-style: italic;
}

.title {
    font-size: 17;
    color: $purple;
    font-weight: bold;
    margin-left: 10;
}

.content-short {
    font-size: 12;
    color: #000000;
    margin-top: 10;
}