<ActionBar title="" class="action-bar header">
    <GridLayout rows="*" columns="42,*,42" width="100%">
        <Button row="0" col="0" [text]="drawerTrigger" (tap)="openDrawer()"
            class="icon-menu fa"></Button>
        <TextField row="0" col="1" id="searchField" editable="true" hint="&#xf002; Search"
            returnKeyType="search" class="searchField fa"></TextField>
    </GridLayout>
</ActionBar>